.fit-container {
  width: fit-content;
}

.tag-list {
  display: flex;
  justify-content: space-between;
}

.tag-list-tag {
  padding: 0.1em 0.4em;
  border-radius: 30px;
  background-color: #ededf0;
  border: darkgray;
  cursor: pointer;
}

.tag-selected {
  background-color: aqua;
}
